<h1>Edit</h1>

<%= link_to "homepage", users_path %>

<ul>
  <% current_user.images.each do |img| %>
    <li><%= image_tag img.url, size: "150x150" %></li>
  <% end %>
</ul>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error-msgs">
      <h2>Form submission failed:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%=  msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :avatar %>:<br>
    <%= f.file_field :avatar %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
