<h1>Sign Up</h1>

<%= link_to "homepage", users_path %>

<%= form_for @new_user do |f| %>
  <% if @new_user.errors.any? %>
    <div class="error-msgs">
      <h2>Form submission failed:</h2>
      <ul>
        <% @new_user.errors.full_messages do |msg| %>
          <li><%=  msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>

