
<section id="top" class="one dark cover">
  <div class="container">
    <% if @user.errors.any? %>
      <div class="error-msgs">
        <h2>Form submission failed:</h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%=  msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_for @user do |f| %>
      <div class="row" style="margin-left: 5em;">
        <div class="9u">
          <%= f.text_field :username, placeholder: "Username" %>
        </div>
        <div class="9u">
          <%= f.password_field :password, placeholder: "Password" %>
        </div>
        <div class="9u">
          <%= f.password_field :password_confirmation, placeholder: "Confirm your password" %>
        </div>
        <div class="5u">
          <%= f.label :avatar %>
          <%= f.file_field :avatar %>
        </div>
      </div>

      <div class="row">
        <div class="12u">
          <input type="submit" value="Sign up!" />
        </div>
      </div>
    <% end %>
  </div>
</section>

