<!DOCTYPE html>
<html>
<head>
  <title>Avatars</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if current_user %>
    <%= image_tag current_user.avatar, size: "50x50" %><br>
    Logged in as <%= current_user.username %><br>
    <%= link_to "Change my avatar", edit_user_path(current_user.id) %><br>
    <%= link_to "Log out", log_out_path %>
  <% else %>
    <%= link_to "Sign up", sign_up_path %> or
    <%= link_to "Log in", log_in_path %>
  <% end %>
</div>

  <div>
    <p style="text-align:center;">
      <% if flash.any? %>
        <%= flash[:notice] %>
      <% end %>
    </p>
  </div>

<%= yield %>

</body>
</html>
